.gameplay {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameplayIcons {
  width: 50rem;
  display: flex;
  background-color: #fffdd0;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  gap: 1rem;
  border-top: 0.1rem solid #ee204d;
}

.gameplayBoard {
  position: relative;
  overflow: hidden;
  width: 80rem;
  height: 50rem;
}
.gameplayBoard img {
  width: 100%;
  height: 100%;
}
.gameplayBoard:hover {
  cursor: crosshair;
}

.customDialog {
  position: absolute;
  z-index: 10;
  background: white;
  width: 11rem;
  max-height: 14rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 0.5rem;
  cursor: text;
  border-radius: 1rem;
}
.customDialog section {
  font-size: 1.4rem;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
}
.customDialog img {
  width: 1.8rem;
  padding-right: 1rem;
}
.customDialog p {
  font-size: 1.4rem;
  font-family: Arial, Helvetica, sans-serif;
  width: 10rem;
  text-align: left;
  background-color: #1e90ff;
  padding-left: 0.2rem;
  margin-bottom: 0.1rem;
  border-radius: 0.3rem;
  border-bottom: black 1px solid;
}
.customDialog div {
  width: 10rem;
  text-align: left;
  border-radius: 0.3rem;
}
.customDialog div:hover {
  background-color: #1e90ff;
}

.customDialog button {
  margin-top: 0.1rem;
  width: 10rem;
  border-radius: 1rem;
}
.customDialog button:hover {
  background-color: #ee204d;
  cursor: pointer;
}

.playerModal {
  font-size: 1.6rem;
  border-radius: 1rem;
}
.playerModal button {
  margin-left: 1rem;
  background-color: #1e90ff;
  color: #e9e90c;
  font-size: 1.4rem;
  border-radius: 0.5rem;
}

.spinIcon {
  animation: spin 1s linear infinite;
  color: #ffff00;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
