.gameplay {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameplayIcons {
  width: 50rem;
  display: flex;
  background-color: #fffdd0;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  gap: 1rem;
  border-top: 0.1rem solid #ee204d;
}

.gameplayBoard {
  width: 80rem;
  height: 50rem;
  border: 0.1rem solid black;
}
.gameplayBoard img {
  width: 80rem;
  height: 50rem;
}
.gameplayBoard:hover {
  cursor: crosshair;
}
