.rankings {
  color: #e6e6fa;
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.rankings aside a {
  color: #f5f5dc;
}
.rankings aside h1:hover {
  background-color: #1e90ff;
}

.rankings section {
  background-color: #1e90ff;
  height: 89vh;
}

.rankings section table {
  border-collapse: collapse;
}

.rankings section td,
th {
  font-size: 1.6rem;
  padding: 1rem 5rem;
  border: black 0.2rem solid;
}
