.help {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.2rem;
  text-align: left;
  padding-left: 20rem;
  color: #fffdd0;
}
.help p {
  font-size: 1rem;
}
.help ul {
  font-size: 1rem;
}
.help ol > li {
  font-weight: bold;
}

.gameCharacters {
  display: flex;
  flex-wrap: wrap;
}
.gameCharacters img {
  width: 15rem;
}
