body {
  margin: auto;
  font-size: 10px;
  background-color: #ee204d;
  box-sizing: border-box;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.6rem;
}
h1,
h2,
h3 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2rem;
}
a {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #fffdd0;
  align-items: center;
  padding: 0 2rem;
  position: sticky;
  top: 0;
  height: 2.5rem;
}
nav a {
  color: #1e90ff;
  font-size: 1.2rem;
}
nav section {
  display: flex;
  gap: 3rem;
}

footer {
  margin-top: auto;
  text-align: center;
  justify-self: end;
  color: #d8bfd8;
  font-size: 1.6rem;
}
footer a {
  text-decoration: none;
  color: #e6e6fa;
}
